include README.md
include LICENSE

exclude *.yaml
exclude *.yml
exclude Dockerfile
exclude *.ini

recursive-include cellfinder *.py
include cellfinder/config/*

global-include *.pxd

prune tests
prune resources

prune .github
prune .tox
