include .napari/config.yaml
include CITATION.cff
include LICENSE
include README.md
include requirements.txt

exclude .pre-commit-config.yaml
exclude .codecov.yaml
exclude CORE_CHANGELOG.md
exclude tox.ini

graft cellfinder
include cellfinder/napari/napari.yaml

prune examples
prune resources
prune tests
prune benchmarks
