include LICENSE
include README.md
include requirements.txt
include .napari/config.yml
include cellfinder_napari/napari.yaml

recursive-include cellfinder_napari *.png

exclude .pre-commit-config.yaml
exclude tox.ini

recursive-exclude examples *
recursive-exclude resources *
